* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: whitesmoke;
}

.textarea {
    display: block;
    margin: 0 auto;
    height: 200px;
    margin-top: 50px;
    width: 1240px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 4px;
}

.keyboard {
    display: flex;
    width: 1240px;
    gap: 20px;
    margin: 0 auto;
    margin-top: 50px;
    flex-direction: column;
}

.keyboard__line__key {
    border: 0px solid gray;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: gray;
    color: whitesmoke;
    transition: all 0.1s;
    user-select: none;
    cursor: pointer;
}

.keyboard__line__key::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 4px;
    box-shadow: 0 0 0px #aaaaaa, 0 6px 0 #747474;
    transition: all 0.5s;
}

.keyboard__line__key_dark {
    background-color: rgb(65, 65, 65);
    color: whitesmoke;
}

.keyboard__line__key_second {
    position: absolute;
    top: 2px;
    left: 4px;
}

.keyboard__line {
    flex-grow: 1;
    gap: 10px;
}

.keyboard__line_1 {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 1fr;
    grid-template-rows: 70px;
}

.keyboard__line_2 {
    display: grid;
    grid-template-columns: 10fr 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 9fr;
    grid-template-rows: 70px;
}

.keyboard__line_3 {
    display: grid;
    grid-template-columns: 10fr 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 9fr;
    grid-template-rows: 70px;
}

.keyboard__line_4 {
    display: grid;
    grid-template-columns: 1fr 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px;
    grid-template-rows: 70px;
}

.keyboard__line_5 {
    display: grid;
    grid-template-columns: 1fr 70px 70px 4fr 70px 1fr 70px 70px 70px;
    grid-template-rows: 70px;
}

.active {
    background-color: rgb(87, 87, 161);
    transform: translateY(8px);
}